<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workdays</title>
</head>
<body>
<section>
    <form th:action="@{/workdays/addWorkday}" method="get">
        <input type="submit" th:value="AddWorkDay">
    </form>
</section>
<br>

<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Start</th>
        <th>Finish</th>
        <th>Deduction</th>
        <th>Total Time</th>
        <th>before tax</th>
        <th>after tax</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="day : ${allDaysListDto}">
        <td th:text="${day.date}"></td>
        <td th:text="${day.startTime}"></td>
        <td th:text="${day.finishTime}"></td>
        <td th:text="${day.deductionTime}"></td>
        <td th:text="${day.totalPayableTime}"></td>
        <td th:text="${day.beforeTaxIncome}"></td>
        <td th:text="${day.afterTaxIncome}"></td>
        <td><a th:href="@{/workdays/editWorkday/{id}(id=${day.id})}">Edit</a></td>
        <td><a th:href="@{/workdays/deleteWorkday/{id}(id=${day.id})}">Delete</a></td>
        <td class="text-center"></td>
    </tr>
    </tbody>
</table>
</body>
</html>