<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payslip Checker</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <div >
        <a th:href="@{/logout}">Logout</a>
    </div>
</head>
<h4>Welcome: <span th:text="${userLogged}"></span> </h4>
<body>
<h1>PAYSLIP CHECKER</h1>

<!--<form th:action="@{/workdays/{workdayDate}(${workdayDto.getDate()})}" th:object="${workdayDto}" method="get">
    <input type="date" th:field="*{date}" required>
    <input type="submit" th:value="Select">
</form><br>-->

<a th:href="@{/workdays}">All Days</a>
<a th:href="@{/rates}">All Rates</a>
<a th:href="@{/weeks/addGet}">weeksAdd</a>

</body>
</html>