<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rate Details</title>
</head>
<h4>User: <span th:text="${name}"></span></h4>
<body>
<section>
<form th:action="@{/sendRate}" th:object="${rates}" method="post">
    <p>Hourly rate: <label for="hourly"></label>
        <input type="number" id="hourly" th:field="*{hourlyRate}">£</p>
    <p>Overtime rate: <label for="overtime"></label>
        <input type="number" id="overtime" th:field="*{overtimeRate}">£</p>
    <p>Night rate: <label for="night"></label>
        <input type="number" id="night" th:field="*{nightRate}">£</p>
    <p>Location rate: <label for="location"></label>
        <input type="number" id="location" th:field="*{locationRate}">£</p>
    <p>Pension scheme:<label for="pension"></label>
        <input type="number" id="pension" th:field="*{pensionScheme}">%</p>
    <input name="submit" type="submit" th:value="Save">
</form>
</section>
<section>
<form th:action="@{/updateRate}" th:object="${newRates}">
    <p><input type="button" th:value="Update"></p>
</form>
<form action="#" th:action="@{/deleteRate/${rateId}}" method="get">
    <p><button type="submit" class="btn" >Delete</button></p>
</form>
</section>
<section>
<a th:href="@{/showRate}">Show Rate</a>
</section>
</body>
</html>