<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<h2>Registration</h2>
<body>
<form th:action="@{/register}" th:object="${newRegAppUser}" method="post">
    <p>Username: <input type="text" th:field="*{username}" required></p>
    <p>Password: <input type="password" th:field="*{password}" required></p>
    <p>Role <input type="text" th:value="${role}" th:name="role" readonly hidden/></p>
    <!--<p th:text="${role}" th:field="*{role}" ></p>-->
    <p>Email: <input type="text" th:field="*{email}" required> </p>
    <p><input type="submit" th:value="Save"></p>
</form>
</body>
</html>