<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rates</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>HourlyRate</th>
        <th>OvertimeRate</th>
        <th>NightRate</th>
        <th>LocationRate</th>
        <th>PensionScheme</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rate: ${ratesList}">
        <td th:text="${rate.hourlyRate}"></td>
        <td th:text="${rate.overtimeRate}"></td>
        <td th:text="${rate.nightRate}"></td>
        <td th:text="${rate.locationRate}"></td>
        <td th:text="${rate.pensionScheme}"></td>
        <td><a th:href="@{/rates/editRates/{id}(id=${rate.id})}">Edit</a></td>
        <td><a th:href="@{/rates/deleteRates/{id}(id=${rate.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
    <section>
        <form th:action="@{/rates/addRates}" method="get">
            <input type="submit" th:value="NewRate">
        </form>
    </section>
</body>
</html>